.inicio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.inicio-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.inicio-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  animation: scaleIn 1.5s ease-in-out;
}

.inicio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  animation: fadeIn 1.5s ease-in-out;
}

.inicio-header h1 {
  font-size: 3em;
  margin: 0;
  font-family: 'Playfair Display', serif;
  animation: slideInFromLeft 1s ease-in-out;
}

.inicio-header p {
  font-size: 1.5em;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
  animation: slideInFromRight 1s ease-in-out;
}

.inicio-content p {
  font-size: 1.2em;
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}